*{
    padding: 0;
    margin: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
color: rgb(255, 255, 255);}

.header{
    min-height: 100vh;
    width: 100%;    
    background-image: url(images/undraw_towing_6yy4.svg); 
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    background-color:#464646;
    position: relative;
}


nav{
    display: flex;
    justify-content: space-around;
    padding: 2% 6%;
    align-items: center;
}


nav img{
    border-radius: 50%;
    width: 190px;
    position: absolute;
    left: 1px;
    top: 1px;
}

.nav-links{
   display: flex;
   text-align: center;
   justify-content: center;
}


.nav-links ul li{
    list-style: none;
    display: inline-block;
    position: sticky;
    padding: 1px 19px;
    right: 50%;
    position: relative;
}

.nav-links ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size:17px
}


.nav-links ul li::after{
    content: "";
    width:  0%;
    height: 2px;
    background-color: rgb(255, 0, 0);
    display:block;
    margin: auto;
    transition:0.5s
}


.nav-links ul li:hover::after{
    width: 100%;
}

.container{
    text-align: center;
    position: absolute;
    top: 38%;
    left: 53%;
    transform: translate(-50%,-50%);
    width: 100%;
}


.container span{
    text-transform: uppercase;
    display: block;
    color: white;
    bottom: 20%;
    text-align: center;
}

.text-1{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 6px;
    margin-bottom: 28px;
    position: relative;
    animation: text-1 3s 1;
}

.text-2{
    font-size: 25px;
    animation: text-2 3s 1;
    letter-spacing: 2px;
}

.text-3{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    animation: text-3 3s 1 ;
}

nav .fas{
    display: none;
}

@keyframes text-1 {
    0%{
        color: rgb(0, 0, 0);
        margin-bottom: -40%;
    }

    30%{
        letter-spacing: 25px;
    }
}


 @keyframes text-2 {
     
    0%{
        color: black;
    }

    50%{
        letter-spacing: 4px;
    }
 }
 

 @keyframes text-3{

    0%{
        color: black;
    }
 }


 @media only screen and (max-width: 1300px) {
    body {
      /* The file size of this background image is 93% smaller
       * to improve page load speed on mobile internet connections */
      background-image: url(images/undraw_towing_6yy4.svg);
      width: 100%;
      background-position: center center;
      background-size: cover;
    }
      }



@media( max-width: 705px) {
  
    .text-1{
        font-size: 20px;
    }

    .text-2{
        font-size: 17px;
    }

    .text-3{
        font-size: 13px;
    }
}


@media( max-width:705px) {

   .container{
       position:absolute;
       top:30%
   }

   nav a img{
       
    height: 10;
    width: 25%;
   }


}

@media( max-width:1103px) {

    .nav-links ul li{
      display: block;
      left: 0.09%;
      top:7%;
      font-size: 25px;
      letter-spacing: 2px;
      margin: 4px;
    }

    .nav-links {
        position:absolute;
        background: #423f3f;
        letter-spacing: 2px;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index:2;
        transition: 1.2s;
    }


   nav.fas{
       display: block;
       cursor: pointer;
       color: white;
       font-size: 42px;
       margin: 10px;
       

   }





}

  
