*{
    padding: 0;
    margin: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;}


.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/tow.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}


nav{
    display: flex;
    justify-content: space-around;
    padding: 2% 6%;
    align-items: center;
}


nav img{
    border-radius: 50%;
    width: 140px;
    position: absolute;
    left: 1px;
    top: 1px;
}

.nav-links{
   display: flex;
   text-align: center;
   justify-content: center;
}


.nav-links ul li{
    list-style: none;
    display: inline-block;
    position: sticky;
    padding: 1px 19px;
    right: 30%;
    position: relative;
}

.nav-links ul li a{
    text-decoration: none;
    color: #fff;
    font-size:17px
}


.nav-links ul li::after{
    content: "";
    width:  0%;
    height: 2px;
    background-color: #f44336;
    display:block;
    margin: auto;
    transition:0.5s
}


.nav-links ul li:hover::after{
    width: 100%;
}